<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Tournament</title>
    <style>
        nav a {
            color: #303b69;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        .player {
            padding: 5px;
            margin: 5px;
            margin-left: 50px;
            background-color: #f7f4f4;
        }
        .title {
            padding: 10px;
            margin: 5px;
            background-color: #f7f4f4;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Tournament Rank</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
